/Automation_version1/DDR_BACKUP
/Automation_version1/DDR_OUTPUT
/Automation_version1/DB_READY_DATA
/Automation_version1/O1
/Automation_version1/O2
/Automation_version1/O3
Extract Single DDR to main excel format/DDRs

.env
*.pdf
__pycache__/
*.pyc
.DS_Store
**/.DS_Store
DataFlow/OUTPUT
DataFlow/BACKUP
POB_TEMP
DDR_Moving_TEMP


# ignore mails_hashes.txt
mails_hashes.txt

# Python virtual environments
.venv/
venv/
env/
.ENV/
ENV/

# ignore Log files
*.log
logs/
log/
*.out

